### Do your work for this exercise in a jupyter notebook named feature_engineering within the regression-exercises repo. Add, commit, and push your work.

## Load the tips dataset.âœ…

In [ ]:
from pydataset import data
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_spl

In [2]:
df = data('tips')

# Create a column named price_per_person. This should be the total bill divided by the party size.

In [3]:
df.he

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# first we define the column name,  =  # we set it to the price divided by the party size 
df['price_per_person'] = df['total_bill']/ df['size']

In [5]:
# when we tried to round the coulmns above it didnt work and having 8.49876000 is not realistic. So we rounded the entire frame which worked out since the price were already 
# two decimal places and the size columns are intergers and un affected by this rounding. 
df = round(df,2)
df.head()

   total_bill   tip     sex smoker  day    time  size  price_per_person
1       16.99  1.01  Female     No  Sun  Dinner     2              8.49
2       10.34  1.66    Male     No  Sun  Dinner     3              3.45
3       21.01  3.50    Male     No  Sun  Dinner     3              7.00
4       23.68  3.31    Male     No  Sun  Dinner     2             11.84
5       24.59  3.61  Female     No  Sun  Dinner     4              6.15

# Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?
    - Bill total as most people tip based off bill total.

# Use select k best to select the top 2 features for predicting tip amount. What are they?

In [10]:
from sklearn.feature_selection import SelectKBest
skb = SelectKBest()

In [9]:
x_train = df.drop(columns=)

Use recursive feature elimination to select the top 2 features for tip amount. What are they?
Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?
Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).